<mat-drawer-container class="category-list-container">
    <mat-drawer mode="side" opened></mat-drawer>
    <mat-drawer-content>
        <mat-drawer-container class="category-add-container">
            <mat-drawer mode="side" opened class="category-add-left"><app-category-add (createdCategory)="createdCategory($event)"></app-category-add></mat-drawer>
            <mat-drawer-content class="category-right"><ul>
              
              <div class="mat-elevation-z8" >
                <table mat-table [dataSource] ="dataSource" class="list-table">
              
                  <ng-container matColumnDef="categoryId">
                    <th mat-header-cell *matHeaderCellDef > Kategori İd </th>
                    <td class="button" mat-cell *matCellDef="let element" (click)="getProductByCategoryId(element.id)" > {{element.id}} </td>
                  </ng-container>   
            
                  <ng-container matColumnDef="categoryName">
                    <th mat-header-cell *matHeaderCellDef> Kategori Adı </th>
                    <td mat-cell *matCellDef="let element">{{element.name}} </td>
                  </ng-container>
            
                  <ng-container matColumnDef="categoryDescription">
                    <th mat-header-cell *matHeaderCellDef> Kategori Açıklaması </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                  </ng-container>

                  <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element" appDelete [id]="element.id" (callback)="getCategories()" controller="Categories"> <!--<img src="../../../../../assets/delete.png" width="20" height="20" (click)="delete(element.id, $event)"/>--> </td>
                  </ng-container>

                  <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element"> <img src="../../../../../assets/edit.png" width="20" height="20"> </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
                <mat-paginator (page)="pageChanged()" 
                              class="paginator" [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements"> 
                </mat-paginator>
              </div>  
          </ul></mat-drawer-content>
          </mat-drawer-container>
          
          <mat-drawer-container class="product-list-container">
            <mat-drawer-content><app-product-list-inner></app-product-list-inner></mat-drawer-content>
          </mat-drawer-container>
    </mat-drawer-content>
  </mat-drawer-container>

