:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
    .country-name{
      margin-left: 22%;
      margin-top: 25%;
    }
    .country-short-name{
      margin-left: 22%;
    }
  
    .country-add{
      margin-left: 35%;
      font-family: monospace;
    }
    
    .country-add-text{
      width: auto;
      margin-left: initial;
      padding: 70px;
      position: absolute;
      font-family: monospace;
      top: -50px;
    }