<mat-list role="list" class="side-bar">

    <a mat-list-item role="listitem" routerLink="addresses/list" class="addresses-button">Adres İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="advert-photo-paths/list" class="advert-photo-paths-button">İlan Fotğraf İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="brands/lists" class="brands-button">Marka İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="categories/lists" class="categories-button">Kategori İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="cities/list" class="cities-button">Şehir İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="corporate-advert-orders/list" class="corporate-advert-orders-button">Kurumsal İlan Sipariş İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="corporate-adverts/list" class="corporate-adverts-button">Kurumsal İlan İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="corporate-users/list" class="corporate-users-button">Kurumsal Kullanıcı İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="countries/list" class="countries-button">Ülke İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="districts/list" class="districts-button">Semt İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="individual-adverts/list" class="individual-adverts-button">Bireysel İlan İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="individual-users/list" class="individual-users-button">Bireysel Kullanıcı İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="neighbourhoods/list" class="neighbourhoods-button"> Mahalle İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="operation-claims/list" class="operation-claims-button">Yetki İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="products/list" class="products-button">Ürün İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="swap-adverts/list" class="swap-adverts-button">Takas İlanı İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="swap-for-category-adverts/list" class="swap-for-category-adverts-button">Kategoriye Göre Takas İlanı İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="swap-for-product-adverts/list" class="swap-for-product-adverts-button">Ürüne Göre Takas İlanı İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="user-addresses/list" class="user-addresses-button">Kullanıcı Adresi İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="user-operation-claims/list" class="user-operation-claims-button">Kullanıcı Yetkilendirme İşlemleri</a>

    <a mat-list-item role="listitem" routerLink="users/list" class="users-button">Kullanıcı İşlemleri</a>
  </mat-list>
