.accept{
    width: auto;
height: auto;
margin-left: auto;
border: 1px solid #eee ;
border-radius: 5%;
background: #eee;
}

.accept:hover {background-color: #e6e6e6}

.cancel{
    width: auto;
    height: auto;
    margin-right: auto;
    border: 1px solid #eee ;
    border-radius: 5%;
    background: #eee;
}

.cancel:hover {background-color: #e6e6e6}

.text{
    width: auto;
    height: auto;
    background: #eee;
}

.attention{
    width: auto;
    height: auto;
    background: #eee;
}

