
.list-table{
    background-color: #eee;
    height: auto;
    width: auto;
  
  }
  
  .mat-elevation-z8{
    height: auto;
    width: auto;
  }
  
  .paginator{
    background-color: #eee; 
    width: auto;
  }
  
  .user-address-right{
    width: auto;
    height: auto;
  }
  
  .user-address-list-container {
    width: auto;
    height: auto;
    border: #555;
    /* The background property is added to clearly distinguish the borders between drawer and main
       content */
    background: #eee;
  }
  
  .user-address-add-container {
    width: auto;
    height: auto;
    border: 1px solid #dadada;
    /* The background property is added to clearly distinguish the borders between drawer and main
       content */
    background: #eee;
  }
  
  .user-address-add-left{
    width: 250pt;
    height: auto;
    background: #eee;
  }
  